@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primaryColor: #F072DD;
  --titleColor: #000000;
  --primaryFont: 'Roboto', sans-serif;
  --formColor: #ffffff;
  --buttonColor: #F64283;
  --colorCode: #0e1d39;
}

body {
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(255, 255, 255, 85%), rgba(255, 255, 255, 85%)), url(/image/chat.png);
}
/* .container {
  max-width: 1200px;
  margin: auto;
  width: 95%;
} */

.logo {
  max-width: 209px;
  width: 100%;
}

.main {
  

    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.main {
  /* align-items: center;
  height: 100vh;
  width: 100%; */
}
.main-prueba {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main__left,
.main__right,
.main__center {
  background-image: url('/image/chat.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 800px;
  max-width: 430px;
  width: 100%;
}
.prueba {
  height: 800px;
  background-image: url('/image/chat.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pruebaform {
  display: flex;
  justify-content: space-between;
}
.prueba2 {
  min-width: 375px;
    min-height: 250px;
  background: var(--primaryColor);
}
.prueba3 {
  display: flex;
  flex-direction: column;
  background: #F0F0F0;
  border-radius: 6px;
  padding: 15px 15px 0 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.pruebaform {
  display: flex;
}
.chat {
  width: 100%;
}
::placeholder {
  color: var(--titleColor); /* Cambia el color aquí */
}