@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primaryColor: #00ff62;
  --titleColor: #000000;
  --primaryFont: "Roboto", sans-serif;
  --formColor: #ffffff;
  --buttonColor: #f64283;
  --colorCode: #0e1d39;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #f64283;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}
body {
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 85%),
      rgba(255, 255, 255, 85%)
    ),
    url(/image/chat.png);
}
.logo {
  max-width: 209px;
  width: 100%;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 85px 0;
}
.main__left,
.main__right,
.main__center {
  background-image: url("/image/chat.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 800px;
  max-width: 430px;
  width: 100%;
}
.chat {
  width: 100%;
}
::placeholder {
  color: #000;
}
